.form-tab2{
    display: flex;
    width: 100%;
    justify-content: center;
    margin:20px 0;
}
.form-tab2 p{
    
    font-size: .8rem;
    font-weight: 700;
    padding:5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}